* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.main-header {
	width: 100%;
	background: #2ddf5c;
	padding: 8px 16px;
	position: fixed;
	z-index: 2;
	top: 0;
}

.main-header > div {
	display: inline-block;
	vertical-align: middle;
}

.main-header__brand {
	height: 22px;
	display: inline-block;
}

.main-header__brand img {
	height: 100%;
}

.main-nav {
	display: inline-block;
	text-align: right;
	width: calc(100% - 44px);
	vertical-align: middle;
}

.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;
	margin: 0 16px;
}

.main-nav__item a {
	text-decoration: none;
	color: #0e4f1f;
	font-weight: bold;
	padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
	color: white;
	border-bottom: 5px solid white;
}

.main-nav__item--cta a {
	color: white;
	background: #ff1b68;
	padding: 8px 16px;
	border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
	color: #ff1b68;
	background: white;
	border: none;
}

.button {
	color: white;
	background: #0e4f1f;
	font: inherit;
	padding: 8px;
	margin-top: 16px;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
}

.button:hover,
.button:active {
	color: #0e4f1f;
	background: white;
}

.button:focus-within,
.button:focus-visible {
	outline: none;
}

.main-footer {
	background: black;
	padding: 32px;
	margin-top: 48px;
}

.main-footer__links {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.main-footer__link {
	margin: 0 16px;
	display: inline-block;
}

.main-footer__link a {
	color: white;
	text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
	text-decoration: underline;
}
