.testimonial {
	font-size: 1.25rem;
}

.testimonial__list {
	width: 80%;
	margin: auto;
}

.testimonial:first-of-type {
	margin-top: 6rem;
}

.testimonial__image-container {
	width: 100%;
	display: block;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
	max-width: 25rem;
}

.testimonial__image {
	width: 100%;
	vertical-align: top;
}

.testimonial__info {
	text-align: right;
	padding: 0.875rem;
	display: block;
	width: 100%;
}

#customer-2.testimonial {
	text-align: right;
}

#customer-2 .testimonial__info {
	text-align: left;
}

.testimonial__name {
	margin: 0.2rem;
	color: #ff5454;
	font-size: 2rem;
}

.testimonial__subtitle {
	margin: 0;
	font-size: 1.125rem;
	color: #ccc;
}

.testimonial__subtitle a {
	color: inherit;
	text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
	color: #7a7a7a;
}

.testimonial__text {
	margin: 0.2rem;
	font-size: 1rem;
}

@media (min-width: 45rem) {
	.testimonial {
		margin: 3rem auto;
		max-width: 60rem;
	}

	.testimonial__image-container {
		display: inline-block;
		vertical-align: middle;
	}

	.testimonial__info {
		display: inline-block;
		vertical-align: middle;
	}

	.testimonial__info {
		width: 42%;
	}
}
