.testimonial {
	font-size: 1.25rem;
	overflow: hidden;
}

.testimonial__list {
	width: 80%;
	margin: auto;
}

.testimonial:first-of-type {
	margin-top: 6rem;
}

.testimonial:hover .testimonial__image-container {
	animation: flip-customers 1s ease-out forwards;
}

.testimonial__image-container {
	width: 100%;
	display: block;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
	max-width: 25rem;
	background: #ff1b68;
	transform: skewX(20deg);
	overflow: hidden;
}

.testimonial__image {
	width: 100%;
	vertical-align: top;
	transform: skewX(-20deg) scale(1.25);
}

.testimonial__info {
	text-align: right;
	padding: 0.875rem;
	display: block;
	width: 100%;
}

#customer-2.testimonial {
	text-align: right;
}

#customer-2 .testimonial__info {
	text-align: left;
}

.testimonial__name {
	margin: 0.2rem;
	color: #ff5454;
	font-size: 2rem;
}

.testimonial__subtitle {
	margin: 0;
	font-size: 1.125rem;
	color: #ccc;
}

.testimonial__subtitle a {
	color: inherit;
	text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
	color: #7a7a7a;
}

.testimonial__text {
	margin: 0.2rem;
	font-size: 1rem;
}

@media (min-width: 45rem) {
	.testimonial {
		margin: 3rem auto;
		max-width: 60rem;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.testimonial__info {
		width: 42%;
	}
}

@keyframes flip-customers {
	0% {
		transform: rotateY(0) skew(20deg);
	}
	50% {
		transform: rotateY(180deg) skew(20deg);
	}
	100% {
		transform: rotateY(360deg) skew(20deg);
	}
}
